# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.*.local

# Vite cache
.vite/

# build outputs
dist/
build/
out/

# local cache
.cache/
.next/
.nuxt/
.svelte-kit/

# Optional npm cache directory
.npm/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific
.DS_Store
Thumbs.db

# Tests
coverage/
