body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.input-field {
    padding: 10px;
    font-size: 1rem;
    margin: 10px;
    width: 80px;
    text-align: center;
}

.display-box {
    border: 2px solid white;
    padding: 20px;
    font-size: 1.5rem;
    margin-top: 20px;
}

.numbers-container {
    margin-top: 20px;
}

.final-result {
    font-size: 2rem;
    margin-top: 20px;
}

.setting {
    display: flex;
    width: 300px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

section[class^="setting-"] {
    margin-bottom: 3rem;
}

input[type="number"] {
    font-size: 16px;
}

input[type="range"] {
    transform: scale(1.5);
}

input[type="checkbox"] {
    margin-right: 1rem;
    width: 30px;
    height: 30px;
}

section.checkbox {
    display: flex;
    margin-left: 3rem;
    align-items: center;
}

button[type="button"] {
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.header {
    margin-bottom: 2rem;
}

.gameplay {
    display: flex;
    width: 300px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.displayed-number {
    border: 1px dotted white;
    padding: 2rem;
}

.displayed-number-item:not(:first-child) {
    margin-top: 0.5rem;
}

.next-number {
    height: 5rem !important;
    font-size: 20px;
    width: 100%;
    margin-top: 1rem;
    background-color: transparent;
    color: white;
    margin-bottom: 2rem;
}

.user-answer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 50%;
    height: 2rem;
    text-align: center;
}

.submit-user-answer {
    background-color: transparent;
    width: 50px;
    height: 50px;
}

.answer-result {
    margin-left: 1.5rem;
    margin-bottom: 2rem;
}

.retry {
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.back-main {
    margin-top: auto;
    margin-bottom: 2rem;
}

.flashing-number-item {
    margin-top: 2rem;
}